body {

    margin: 0 auto;

    height: 100vh;

    /*background-image: url('./assets/background.jpg');*/
    background-image: url("/images/IMG_3531.JPG");
    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    overflow: hidden;
    font-family: 'Sulphur Point', sans-serif;
}

button {
    align-self: center;
    justify-content: center;
    background-color: rgb(197, 251, 255);
    border-radius: 20;
    height: 3em;
    width: 10em;
    margin-top: 2em;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
 
button:hover {
    color: white;
    background-color: rgb(128, 215, 221);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom right, rgba(248, 146, 139, 0.6), rgba(209, 150, 60, 0.6));
    
    color: black;

    height: 100vh;

}

@keyframes anim{
    0%   {transform:scale(1);}
    50%  {transform:scale(1.4);}
    100% {transform:scale(1);}
}


h1 {
    font-size: 3.3em;
    margin-block-start: 0;

}